lxml
python-dotenv
apscheduler
schedule
requests
flask
flask-cors
flask-limiter
gunicorn
pytest
werkzeug
termcolor
pyautogui
paramiko
pytesseract
pillow
opencv-python
psutil
numpy
pyperclip
pygetwindow; platform_system == "Windows"
pywinctl; platform_system == "Linux" or platform_system == "Darwin"
imaplib2
email-validator
spacy
transformers
torch
tensorflow; platform_system != "Windows" or python_version < "3.10"
tensorflow-cpu; platform_system == "Windows" and python_version >= "3.10"
SpeechRecognition
pyaudio
python-Levenshtein
pandas
matplotlib
seaborn
scikit-learn
pytest-cov
pytest-mock
